body {
  font-family: "Arial", sans-serif;
}

h2 {
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar {
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.transparent-navbar {
  background-color: rgb(255, 255, 255); /* Transparan */
}

.scrolled-navbar {
  background-color: rgb(247, 247, 247); /* Lebih gelap saat di-scroll */
  backdrop-filter: blur(10px); /* Efek blur */
}
.navbar-brand {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.navbar-nav,
.nav-link {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.card {
  border-radius: 10px;
}

footer {
  font-size: 0.9rem;
}
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  text-decoration: none;
}

.social-icons i {
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #08bdba; /* Warna berubah saat hover */
}
